@charset 'utf-8';

/* Line Seed KR */
@font-face {
  font-family: "LINESeedKR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Pretendard */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font_Line: "LINESeedKR";
  --font_Pretendard: "Pretendard-Regular";
  --f_size_H1_48pt: 48px;
  --f_size_H2_36pt: 36px;
  --f_size_H3_24pt: 24px;
  --f_size_H4_16pt: 16px;
  --f_size_b1_24pt: 24px;
  --f_size_b2_12pt: 12px;
  --color_main01: #2297f4;
  --color_main01_06: rgba(34, 151, 244, 0.6);
  --color_sub01: rgba(34, 151, 244, 0.1);
  --color_main02: #40db08;
  --color_main02_05: rgba(64, 219, 8, 0.5);
  --color_sub02: rgba(81, 245, 22, 0.1);
  --color_main03: #f5990a;
  --color_sub03: rgba(245, 153, 10, 0.1);
  --color_text_black: #333;
  --color_gray: #999999;
  --color_light_gray: #d9d9d9;
  --color_white: #ffffff;
  color: var(--color_text_black);
}

button:focus {
  outline: none;
}

/* view = main */
.view {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.gnb {
  /* display: none; */
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -10;
  opacity: 0;
  transition: 0.5s;
}

.gnb.on {
  opacity: 1;
  z-index: 999;
}

.gnb ul {
  display: flex;
  position: relative;
}

.gnb ul::before {
  content: "";
  width: calc(100% - 3.5rem);
  height: 1px;
  background-color: var(--color_gray);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.gnb li {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: transform 0.5s;
}

.gnb li:hover {
  transform: scale(1.2);
}

.gnb a {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.gnb .circle {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color_white);
  border: 1px solid var(--color_light_gray);
}

.gnb .rect {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--color_white);
  border: 1px solid var(--color_light_gray);
}

.gnb .rhomb {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  transform: rotate(45deg);
  background-color: var(--color_white);
  border: 1px solid var(--color_light_gray);
}

.gnb li:nth-of-type(2).on a {
  background-color: var(--color_main01);
  border: none;
}

.gnb li:nth-of-type(3).on a {
  background-color: var(--color_main02);
  border: none;
}

.gnb li:nth-of-type(4).on a {
  background-color: var(--color_main03);
  border: none;
}

.elec_dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color_white);
  border: 1px solid var(--color_sub01);
  box-shadow: 0 0 15px rgba(34, 151, 244, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.elec_dot.off {
  opacity: 0;
}

.bg {
  width: 200vw;
  height: 400vh;
  position: relative;
}

.line_bg {
  width: 200vw;
  height: 400vh;
  position: absolute;
  /* z-index: ; */
}

.line {
  opacity: 0;
  transition: opacity 0.5s;
}

.line.on {
  opacity: 1;
}

.line div {
  position: absolute;
  background-color: #999;
  opacity: 0.99;
  z-index: -3;
}

.line1 {
  top: 11.814%;
  left: 25%;
  width: 1px;
  height: 15.5%;
}

.line2 {
  top: 27.3148%;
  left: 25%;
  width: 30.9375%;
  height: 1px;
}

.line3 {
  top: 27.3148%;
  left: 55.8854%;
  width: 1px;
  height: 55.625%;
}

.line4 {
  top: 82.9167%;
  left: 25%;
  width: 30.9%;
  height: 1px;
}

.line5 {
  top: 82.9167%;
  left: 25%;
  width: 1px;
  height: 4.5833%;
}

section {
  width: 50%;
  height: 25%;
  position: relative;
}

.sec1 > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  transition: top 0.7s;
  /* background-color: white; */
}

.sec1 > div.on .click {
  opacity: 0;
}

.sec1 h1 {
  font-size: var(--f_size_H1_48pt);
  font-family: var(--font_Line);
  color: var(--color_gray);
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.sec1 .typing_div {
  display: inline;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.7s;
}

.sec1 h2 {
  display: inline;
  font-size: var(--f_size_H1_48pt);
  font-family: var(--font_Line);
  position: relative;
}

.sec1 h2::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  /* width: 2px; */
  height: 110%;
  margin-left: 0.4rem;
  border-right: 2px solid var(--color_text_black);
  animation: cursor 0.9s infinite steps(2);
}

@keyframes cursor {
  0% {
    border-right: 2px solid var(--color_white);
  }
  100% {
    border-right: 2px solid var(--color_text_black);
  }
}

.sec1 .power_con {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.sec1 .power_icon {
  border: 3px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  cursor: pointer;
  background-color: var(--color_white);
}

.sec1 .power_icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec1 .power_icon::before {
  content: "";
  width: 90%;
  height: 90%;
  position: absolute;
  background-color: var(--color_main01);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(60px);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}

.sec1 .power_icon:hover::before {
  opacity: 0.8;
}

.sec1 .click {
  font-size: var(--f_size_H1_48pt);
  font-family: var(--font_Line);
  margin-top: 20%;
  transition: opacity 0.3s;
  animation: shake 0.9s infinite linear;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.sec2 {
  transform: translateX(100%);
}

.sec2 h2 {
  font-size: var(--f_size_H1_48pt);
  font-family: var(--font_Line);
  color: var(--color_white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5%;
  border-radius: 15px;
  width: 18.229%;
  height: 9.259%;
  position: absolute;
  top: 4.629%;
  left: 2.6%;
  cursor: pointer;
  z-index: 3;
}

.sec2 h2::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 0.3rem;
  transform: translate(-50%, -50%);
  background-color: var(--color_main01);
  border: 1px solid #0070c9;
  border-radius: 15px;
  z-index: -2;
}

.sec2 h2::after {
  content: "\58";
  font-family: "Font Awesome 6 Free";
  font-size: 40px;
  color: var(--color_gray);
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
  transition: 0.5s;
  z-index: -3;
  animation: xmark 3s infinite;
}

.sec2 h2.on::after {
  right: -25%;
}

.sec2 h2:hover::after {
  color: var(--color_main01);
}

@keyframes xmark {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  5% {
    transform: translateY(-50%) rotate(-10deg);
  }
  15% {
    transform: translateY(-50%) rotate(10deg);
  }
  20% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(0deg);
  }
}

.sec2 .sec2_desc {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 20%;
  left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  opacity: 0;
  transition: 1s;
}

.sec2 .sec2_desc.on {
  opacity: 1;
}

.sec2 .sec2_desc::before {
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 15%;
  background-color: var(--color_sub01);
  position: absolute;
  top: -15%;
  left: 70%;
}

.sec2 .sec2_desc::after {
  content: "";
  width: 500px;
  height: 500px;
  border-radius: 15%;
  background-color: var(--color_sub01);
  position: absolute;
  top: 10%;
  left: -50%;
}

.sec2 h3 {
  font-size: var(--f_size_H1_48pt);
  font-family: var(--font_Line);
}

.sec2 h3 span {
  position: relative;
}

.sec2 h3 span::before {
  content: "";
  width: 102%;
  height: 70%;
  position: absolute;
  top: 30%;
  left: -1%;
  background-color: var(--color_main01_06);
  z-index: -1;
}

.sec2 .education {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.sec2 .education span:first-of-type {
  font-size: var(--f_size_H2_36pt);
  font-family: var(--font_Line);
  color: var(--color_main01);
}

.sec2 .education span:last-of-type {
  font-size: var(--f_size_b1_24pt);
  font-family: var(--font_Pretendard);
}

.sec2 .using_tool {
  font-size: var(--f_size_H2_36pt);
  font-family: var(--font_Line);
  color: var(--color_main01);
}

.sec2 .skill {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.sec2 .skill li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: calc(100% / 4 - 1rem);
}

.sec2 .skill img {
  height: 75px;
  padding-bottom: 1rem;
}

.sec2 .skill li p {
  font-size: var(--f_size_b1_24pt);
  font-family: var(--font_Pretendard);
  width: 85%;
  word-break: keep-all;
}

.sec2 .btn {
  position: absolute;
  top: 17%;
  left: 4%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 0.5;
}

.sec2 .btn img {
  width: 100%;
}

.sec2 .btn:first-of-type {
  transform: rotate(-90deg);
  animation: sec2_prev 5s infinite ease;
}

.sec2 .btn:last-of-type {
  transform: translateX(130%);
  animation: sec2_next 5s 2s infinite ease;
}

@keyframes sec2_prev {
  0% {
    transform: rotate(-90deg);
  }
  5% {
    transform: rotate(-75deg);
  }
  15% {
    transform: rotate(-105deg);
  }
  20% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes sec2_next {
  0% {
    transform: translateX(130%) rotate(0deg);
  }
  5% {
    transform: translateX(130%) rotate(-15deg);
  }
  15% {
    transform: translateX(130%) rotate(15deg);
  }
  20% {
    transform: translateX(130%) rotate(0deg);
  }
  100% {
    transform: translateX(130%) rotate(0deg);
  }
}

.sec3 {
  transform: translateX(22.9167%);
}

.sec3 h2 {
  /* display: inline-block; */
  font-size: var(--f_size_H1_48pt);
  font-family: var(--font_Line);
  color: var(--color_white);
  position: absolute;
  bottom: 25%;
  right: 6.9%;
  z-index: 10;
  cursor: pointer;
}

.sec3 h2::before {
  content: "";
  width: 120%;
  height: 250%;
  background-color: var(--color_main02);
  border: 1px solid #4dbf24;
  border-radius: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}

.sec3 h2::after {
  content: "\58";
  font-family: "Font Awesome 6 Free";
  font-size: 40px;
  color: var(--color_gray);
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  transition: 0.5s;
  z-index: -3;
  animation: xmark 3s infinite;
}

.sec3 h2.on::after {
  top: -100%;
  left: -20%;
}

.sec3 h2:hover::after {
  color: var(--color_main02);
}

.sec3 .project_wrap {
  width: 65%;
  height: 78%;
  position: absolute;
  top: 17%;
  left: 10%;
}

.sec3 .project_wrap::before,
.sec3 .project_wrap::after {
  content: "";
  background-color: var(--color_sub02);
  border-radius: 7.5%;
  transform: rotate(45deg);
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: 1s;
}

.sec3 .project_wrap::before {
  width: 500px;
  height: 500px;
  top: -45%;
  left: 95%;
}

.sec3 .project_wrap::after {
  width: 200px;
  height: 200px;
  top: 40%;
  left: -7%;
}

.sec3 .project_wrap.on::before,
.sec3 .project_wrap.on::after {
  opacity: 1;
}

.sec3 .project_wrap > article {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: 1s;
}

.sec3 .project_wrap > article.on {
  opacity: 1;
}

.sec3 .project_con {
  display: flex;
  width: 300%;
  height: 100%;
  margin-left: 0;
}

.sec3 .project_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 3);
  position: relative;
}

.sec3 .project_list article {
  display: flex;
  position: relative;
}

.sec3 .project_list img {
  width: 100%;
}

.sec3 .p1 .project_img_01 {
  width: 60%;
  bottom: 0;
}

.sec3 .p1 .project_img_02 {
  width: 20%;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.sec3 .p2 .project_img_01 {
  width: 60%;
  bottom: 0;
}

.sec3 .p2 .project_img_02 {
  width: 10%;
  position: absolute;
  bottom: 0;
  left: 53%;
}

.sec3 .p3 .project_img_01 {
  width: 60%;
  bottom: 0;
}

.sec3 .p3 .project_img_02 {
  width: 10%;
  position: absolute;
  bottom: 0;
  left: 53%;
}

.sec3 .p3 .project_img_03 {
  width: 10%;
  position: absolute;
  bottom: 0;
  left: 53%;
}

.sec3 .project_list .p_desc {
  display: flex;
  flex: 1;
  padding-top: 1rem;
}

.sec3 .project_list div p {
  flex: 1;
}

.sec3 .project_list div p:first-of-type {
  line-height: 1.4;
}

.sec3 .project_list div p:last-of-type {
  font-size: var(--f_size_b1_24pt);
  font-family: var(--font_Pretendard);
  line-height: 1.4;
  word-break: keep-all;
}

.sec3 .project_list div p:first-of-type strong,
.sec3 .project_list div p:last-of-type strong {
  font-size: var(--f_size_H2_36pt);
  font-family: var(--font_Line);
}

.sec3 .project_list div p:first-of-type span {
  font-size: var(--f_size_b1_24pt);
  font-family: var(--font_Pretendard);
}

.sec3 .project_list div p:last-of-type span {
  position: relative;
  white-space: nowrap;
}

.sec3 .project_list div p:last-of-type span::before {
  content: "";
  width: 100%;
  height: 70%;
  background-color: var(--color_main02_05);
  position: absolute;
  top: 30%;
  left: 0%;
  z-index: -1;
}

.sec3 .p3 .p_desc p:first-of-type span:last-of-type {
  display: inline-block;
  position: absolute;
  transform: translate(3%, 0);
}

.sec3 .p_btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 5%;
  left: 76%;
}

.sec3 .p_btns a {
  font-size: var(--f_size_H3_24pt);
  font-family: var(--font_Line);
  pointer-events: auto;
  display: inline-block;
  position: relative;
  background-color: transparent;
  border: 1px solid var(--color_gray);
  border-radius: 10px;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem 0.25rem;
  cursor: pointer;
  overflow: hidden;
}

.sec3 .p_btns a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color_main02_05);
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  transform: translateX(-120%) skew(30deg);
  transition: transform 0.7s cubic-bezier(0.3, 1, 0.8, 1);
  z-index: -1;
}

.sec3 .p_btns a:hover::before {
  transform: translateX(0%);
}

.sec3 .list_pg {
  position: absolute;
  top: 58%;
  left: 76%;
  font-size: var(--f_size_b2_12pt);
  font-family: var(--font_Pretendard);
  z-index: 30;
  display: flex;
}

.sec3 .list_pg .page {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 10;
  margin: 0 10px;
  cursor: pointer;
}

.sec3 .list_pg .page::before {
  content: "";
  width: 0%;
  height: 0%;
  border-radius: 5px;
  background-color: var(--color_light_gray);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
  transition: 0.5s;
}

.sec3 .list_pg .page:hover::before {
  width: 70%;
  height: 70%;
  background-color: var(--color_main02_05);
}

.sec3 .list_pg .page.on::before {
  width: 100%;
  height: 100%;
  background-color: var(--color_main02_05);
}

.sec3 .list_pg .pg_btn {
  border: none;
  background-color: transparent;
  color: var(--color_text_black);
  position: relative;
  cursor: pointer;
}

.sec3 .list_pg .pg_btn::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 15%;
  transition: 0.3s;
}

.sec3 .list_pg .pg_btn:hover::after {
  width: 75%;
}

.sec3 .btn {
  animation: sec3_btn 5s infinite ease;
  opacity: 0.5;
}

.sec3 .btn.prev {
  position: absolute;
  bottom: 5%;
  right: 12.5%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.sec3 .btn.next {
  position: absolute;
  bottom: 5%;
  right: 7%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  animation-delay: 1.5s;
}

.sec3 .btn img {
  width: 100%;
}

@keyframes sec3_btn {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(15deg);
  }
  15% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

.sec4 h2 {
  font-size: var(--f_size_H1_48pt);
  font-family: var(--font_Line);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* position: relative; */
}

.sec4 h2::before {
  border: 1px solid #be7400;
  content: "";
  width: 120%;
  height: 290%;
  border-radius: 50%;
  background-color: var(--color_main03);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.sec4 > a {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: var(--f_size_H2_36pt);
  font-family: var(--font_Line);
}

.sec4 > a:hover {
  text-decoration: underline;
}

.sec4 .qr_code {
  position: absolute;
  width: 10%;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

.sec4 .qr_code img {
  display: block;
  width: 100%;
}

.sec4 .btn.prev {
  position: absolute;
  top: 23.5%;
  right: 2%;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  cursor: pointer;
  transform: rotate(90deg);
  animation: sec4_btn 5s infinite ease;
}

.sec4 .btn img {
  width: 100%;
}

@keyframes sec4_btn {
  0% {
    transform: rotate(90deg);
  }
  5% {
    transform: rotate(75deg);
  }
  15% {
    transform: rotate(105deg);
  }
  20% {
    transform: rotate(90deg);
  }
  0% {
    transform: rotate(90deg);
  }
}

.sec4 .sec4_typing_div {
  display: inline;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.7s;
  opacity: 0;
  transition: opacity 0.3s;
}

.sec4 .sec4_typing_div.on {
  opacity: 1;
}

.sec4 h3 {
  display: inline;
  font-size: var(--f_size_H1_48pt);
  font-family: var(--font_Line);
  position: relative;
}

.sec4 h3::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  /* width: 2px; */
  height: 110%;
  margin-left: 0.4rem;
  border-right: 2px solid var(--color_text_black);
  animation: cursor 0.9s infinite steps(2);
}

@media (max-width: 420px) {
  .btn {
    width: 25px !important;
    height: 25px !important;
  }

  .gnb {
    transform: translateX(-50%) scale(0.5);
  }

  .sec1 h1 {
    font-size: var(--f_size_H3_24pt);
  }

  .sec1 h2 {
    font-size: var(--f_size_H3_24pt);
  }

  .sec1 .click {
    font-size: var(--f_size_H3_24pt);
  }

  .sec2 h2 {
    font-size: var(--f_size_H3_24pt);
  }

  .sec2 h2::after {
    font-size: 1.5rem;
  }

  .sec2 h2.on::after {
    right: -50%;
  }

  .sec2 h3 {
    font-size: var(--f_size_H4_16pt);
  }

  .sec2 .sec2_desc {
    left: 22%;
    top: 16.5%;
  }

  .sec2 .sec2_desc::before {
    transform: scale(0.5) translateX(-50%);
  }

  .sec2 .sec2_desc::after {
    transform: scale(0.5) translate(-50%, 50%);
  }

  .sec2 .education {
    padding: 0.5rem 0;
  }

  .sec2 .education span:first-of-type {
    font-size: var(--f_size_H4_16pt);
  }

  .sec2 .education span:last-of-type {
    font-size: var(--f_size_b2_12pt);
  }

  .sec2 .using_tool {
    font-size: var(--f_size_H4_16pt);
  }

  .sec2 .skill {
    flex-direction: column;
    justify-content: flex-start;
  }

  .sec2 .skill li {
    width: auto;
    align-items: flex-start;
    width: 100%;
    text-align: left;
  }

  .sec2 .skill li p {
    width: 100%;
    font-size: var(--f_size_b2_12pt);
    padding-bottom: 1rem;
  }

  .sec2 .skill img {
    height: 30px;
    padding-bottom: 0;
  }

  .sec2 .btn {
    left: 4.5%;
  }

  .sec3 h2 {
    font-size: var(--f_size_H3_24pt);
    right: 1.2%;
  }

  .sec3 h2::after {
    font-size: 1.5rem;
  }

  .sec3 h2.on::after {
    top: -100%;
    left: -5%;
  }

  .sec3 .project_wrap::before {
    transform: translate(-10%, 30%) scale(0.7) rotate(45deg);
  }
  .sec3 .project_wrap::after {
    transform: scale(0.7) rotate(45deg) translateX(-100%);
  }

  .sec3 .project_list .p_desc {
    flex-direction: column;
  }

  .sec3 .project_list article {
    padding-top: 40%;
  }

  .sec3 .project_list div p {
    flex: 0;
  }

  .sec3 .project_list div p:first-of-type {
    display: flex;
    flex-direction: column;
    line-height: 1;
  }

  .sec3 .project_list div p:last-of-type {
    font-size: var(--f_size_b2_12pt);
    padding-top: 1rem;
  }

  .sec3 .project_list div p:first-of-type strong,
  .sec3 .project_list div p:last-of-type strong {
    font-size: var(--f_size_H4_16pt);
  }

  .sec3 .project_list div p:first-of-type span {
    font-size: var(--f_size_b2_12pt);
  }

  .sec3 .p3 .p_desc p:first-of-type span:last-of-type {
    position: static;
    transform: translate(0, 0);
  }

  .sec3 .p_btns {
    flex-direction: row;
    top: auto;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
  }

  .sec3 .p_btns a {
    font-size: var(--f_size_b2_12pt);
  }

  .sec3 .p_btns a:nth-of-type(2) {
    margin: 0 0.5rem;
  }

  .sec3 .list_pg {
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .sec3 .btn.next {
    right: 3%;
  }

  .sec3 .pagenation {
    display: flex;
  }

  .sec4 h2 {
    font-size: var(--f_size_H3_24pt);
  }

  .sec4 h3 {
    font-size: var(--f_size_H3_24pt);
  }

  .sec4 > a {
    font-size: var(--f_size_H3_24pt);
    top: 67.5%;
  }

  .sec4 .qr_code {
    width: 50%;
  }

  .sec4 .btn.prev {
    width: 25px;
    height: 25px;
  }
}
