@charset 'utf-8';

/* Line Seed KR */
@font-face {
  font-family: "LINESeedKR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Pretendard */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font_Line: "LINESeedKR";
  --font_Pretendard: "Pretendard-Regular";
  --f_size_H1: 48px;
  --f_size_H2: 36px;
  --f_size_H3: 24px;
  --f_size_b1: 24px;
  --color_main01: #2297f4;
  --color_main01_06: rgba(34, 151, 244, 0.6);
  --color_sub01: rgba(34, 151, 244, 0.1);
  --color_main02: #40db08;
  --color_main02_05: rgba(64, 219, 8, 0.5);
  --color_sub02: rgba(81, 245, 22, 0.1);
  --color_main03: #f5990a;
  --color_sub03: rgba(245, 153, 10, 0.1);
  --color_text_black: #333;
  --color_gray: #999999;
  --color_light_gray: #d9d9d9;
  --color_white: #ffffff;
  color: var(--color_text_black);
}

main {
  /* overflow: hidden; */
  position: relative;
}

.gnb {
  /* display: none; */
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.gnb ul {
  display: flex;
  position: relative;
}

.gnb ul::before {
  content: "";
  width: calc(100% - 3.5rem);
  height: 1px;
  background-color: var(--color_gray);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.gnb li {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.gnb li:hover {
  transform: scale(1.2);
}

.gnb a {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.gnb .circle {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color_white);
  border: 1px solid var(--color_light_gray);
}

.gnb .rect {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--color_white);
  border: 1px solid var(--color_light_gray);
}

.gnb .rhomb {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  transform: rotate(45deg);
  background-color: var(--color_white);
  border: 1px solid var(--color_light_gray);
}

.gnb li:nth-of-type(2).on a {
  background-color: var(--color_main01);
  border: none;
}

.gnb li:nth-of-type(3).on a {
  background-color: var(--color_main02);
  border: none;
}

.gnb li:nth-of-type(4).on a {
  background-color: var(--color_main03);
  border: none;
}

.elec_dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color_white);
  border: 1px solid var(--color_sub01);
  box-shadow: 0 0 15px rgba(34, 151, 244, 0.8);
  position: fixed;
  top: 59.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  display: none;
}

.view {
  /* border: 2px solid blue; */
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}

.bg {
  /* border: 1px solid green; */
  width: 200vw;
  height: 400vh;
  /* background-color: aliceblue; */
  position: relative;
  /* 임시코드 */

  /* transition: 0.7s 1s; */

  /* sec1 */
  /* transform: translate(0%, 0%); */

  /* sec2 */
  /* transform: translate(0%, -14.814%); line1 이동*/
  /* transform: translate(-30.885%, -14.814%); line2 이동*/
  /* transform: translate(-50%, -25%); profile 출력*/
  /* transform: translate(-30.885%, -14.814%); line3 이동 준비*/

  /* sec3 */
  /* transform: translate(-30.885%, -55.414%); line3 이동*/
  /* transform: translate(-11.4584%, -50%); project 출력*/
  /* transform: translate(-30.885%, -55.414%); line3 이동 준비*/

  /* sec4 */
  /* transform: translate(-30.885%, -70.414%); line3 이동*/
  /* transform: translate(0%, -70.414%); line4 이동*/
  /* transform: translate(0%, -75%); line5 이동*/

  /* 임시코드 */
}

.line div {
  position: absolute;
  background-color: #999;
  z-index: -1;
}

.line1 {
  top: 14.814%;
  left: 25%;
  width: 1px;
  height: 12.5%;
}

.line2 {
  top: 27.3148%;
  left: 25%;
  width: 30.9375%;
  height: 1px;
}

.line3 {
  top: 27.3148%;
  left: 55.8854%;
  width: 1px;
  height: 55.625%;
}

.line4 {
  top: 82.9167%;
  left: 25%;
  width: 30.9%;
  height: 1px;
}

.line5 {
  top: 82.9167%;
  left: 25%;
  width: 1px;
  height: 4.5833%;
}

section {
  border: 1px solid red;
  width: 50%;
  height: 25%;
  position: relative;
}

.sec1 {
  border: 1px solid blueviolet;
}

.sec1 > div {
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transition: top 0.7s;
}

.sec1 > div.on {
  top: 30%;
}

.sec1 h1 {
  font-size: var(--f_size_H1);
  font-family: var(--font_Line);
  color: var(--color_gray);
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.sec1 .typing_div {
  display: inline;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.7s;
}

.sec1 > div.on .typing_div {
  top: 35%;
}

.sec1 h2 {
  display: inline;
  font-size: var(--f_size_H1);
  font-family: var(--font_Line);
  position: relative;
}

.sec1 h2::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  /* width: 2px; */
  height: 110%;
  margin-left: 0.4rem;
  border-right: 2px solid var(--color_text_black);
  animation: cursor 0.9s infinite steps(2);
}

@keyframes cursor {
  0% {
    border-right: 2px solid var(--color_white);
  }
  100% {
    border-right: 2px solid var(--color_text_black);
  }
}

.sec1 .power_con {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec1 .power_icon {
  border: 3px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  cursor: pointer;
}

.sec1 .power_icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec1 .power_icon::before {
  content: "";
  width: 90%;
  height: 90%;
  position: absolute;
  background-color: var(--color_main01);
  border-radius: 50%;
  /* border: 1px solid var(--color_main01); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(60px);
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}

.sec1 .power_icon:hover::before {
  opacity: 1;
}

.sec1 .click {
  font-size: var(--f_size_H1);
  font-family: var(--font_Line);
  margin-top: 20%;
}

.sec1 .power_icon:hover ~ .click {
  animation: shake 0.9s infinite linear;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.sec2 {
  border: 1px solid rosybrown;
  transform: translateX(100%);
}

.sec2 h2 {
  font-size: var(--f_size_H1);
  font-family: var(--font_Line);
  color: var(--color_white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5%;
  background-color: var(--color_main01);
  border: 1px solid #0070c9;
  border-radius: 15px;
  width: 18.229%;
  height: 9.259%;
  position: absolute;
  top: 4.629%;
  left: 2.6%;
}

.sec2 .sec2_desc {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 20%;
  left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.sec2 .sec2_desc::before {
  content: "";
  width: 30%;
  height: 60%;
  border-radius: 15%;
  background-color: var(--color_sub01);
  position: absolute;
  top: -15%;
  left: 70%;
}

.sec2 h3 {
  font-size: var(--f_size_H1);
  font-family: var(--font_Line);
}

.sec2 h3 span {
  position: relative;
}

.sec2 h3 span::before {
  content: "";
  width: 102%;
  height: 70%;
  position: absolute;
  top: 30%;
  left: -1%;
  background-color: var(--color_main01_06);
  z-index: -1;
}

.sec2 .education {
  display: flex;
  flex-direction: column;
}

.sec2 .education span:first-of-type {
  font-size: var(--f_size_H2);
  font-family: var(--font_Line);
  color: var(--color_main01);
}

.sec2 .education span:last-of-type {
  font-size: var(--f_size_b1);
  font-family: var(--font_Pretendard);
}

.sec2 .skill {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.sec2 .skill li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc(100% / 4 - 1rem);
}

.sec2 .skill img {
  height: 75px;
  padding-bottom: 1rem;
}

.sec2 .skill li p {
  width: 80%;
  word-break: keep-all;
}

.sec3 {
  border: 1px solid gold;
  transform: translateX(22.9167%);
}

.sec4 {
  border: 1px solid saddlebrown;
}
